* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  body{
    background-color: gray;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 119, 128);
    opacity: .8;
    color: #fff;
    padding: 1rem;
  }
  .theme button{
    border-radius: 16px;
  }
  .toggle-container :active{
    background: black;
    color: white;
  }
  .news-container {
    max-width: 1024px;
    margin: auto;
  }
  .forms{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    justify-items: center;
    padding: 30px;
    background: rgb(141, 192, 177);
    margin-top: 0;
  }
  .formControl{
    width: 250px;
    border-radius: 8px;
    border: none;
    padding: 8px;
  }
  /* NEws Container */
  .news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 1rem;
  }
  
  .news .news-item {
    padding: 1rem;
    border: 1px solid rgb(250, 245, 245);
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
  .news .news-item .news-url a {
    text-decoration: none;
    list-style: none;
    background-color: black;
    color: #fff;
    padding: 10px;
    border-radius: 2px;
    font-size: 14px;
   float: left;
   margin-top: 1rem;
  }
  .news .news-item .news-published a{
    text-decoration: none;
    list-style: none;
    color: rgb(58, 50, 50);
    font-size: 14px;
   float: left;
   margin-top: 1rem;
    
  }
  .news h1 {
    font-size: 1rem;
  }
  .news .news-item .news-desc p{
    font-size: 1rem;
  }
  
  /* navigation  */
  header h1{
    
    font-size: 18px;
  }
  nav{
    display: flex;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    
  }
  
  nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
  }
  
  nav ul li a:hover {
    background: #fff;
    color: green;
    padding: 10px;
  }
  button:active{
    background-color: black;
    color: white;
  }
  .theme:active{
    background-color: black;
    color: white;
  }
