* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  body{
    background-color: gray;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 119, 128);
    opacity: .8;
    color: #ffffff;
    padding: 1rem;
  }
  .theme button{
    border-radius: 16px;
  }
  .news-container {
    max-width: 1024px;
    margin: auto;
  }
 .form-source{
   display: none;
 }
 .source-show{
   display: block;
 }
 .source-show .formControl{
    width: 500px;
}
 .fhide{
  display: none;
 }
  .forms{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    
  }
  .formControl{
    width: 280px;
    border-radius: 8px;
    border: none;
    padding: 8px;
    outline: none;
  }
  .hide{
    display: none;
  }
 
  /* NEws Container */

  .news-container .news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
    padding: 0;
  }
  .news .news-item {
    display: grid;
    grid-template-rows: 1fr;
    background-color: #ffffff;
    
  }
  .news-item .news-url{
    display: flex;
    align-content: center;
  }
  .news .news-item .news-url a{
    text-decoration: none;
    list-style: none;
    background-color: black;
    color: #fff;
 
  }
  .news-item .news-image img{
    width: 100%;
    height: 220px;
    padding: 0;
    margin: 0;
  }

 
  .news-item .news-title h1{
    font-size: 1rem;
  }

  .news .news-item .news-desc p{
    font-size: 1rem;
   
  }
  
  .news .news-item .news-source h1{
    font-size: 15px;
    opacity: .8;
    color: black;
  }
  .news-source, .news-title , .news-desc , .news-url {
    padding: 1rem;
  }
  /* navigation  */
  header h1{
    
    font-size: 18px;
  }
  nav{
    display: flex;
    align-items: center;
  }
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
  }
  nav ul li a:hover {
    background: #fff;
    color: green;
  }
  .forms{
    padding: 30px;
    background: rgb(141, 192, 177);
    margin-top: 0;
  }
  button{
    padding: 8px;
    border-radius: 4px;
    background: #fff;
  }
  button:active{
    background: blue;
    color: white;
  }
  .theme button{
    border-radius: 2px solid white;
    padding: 8px;
    background: #fff;
  }
/* toggle */

